

<div class="container">
    <div class="text-center m-5">
        <h2>
            Tareas
        </h2>
    </div>
    <table class="table table-dark table-hover">
        <thead>
            <th>titulo</th>
            <th>autor</th>
            <th>descripcion</th>
            <th>Importancia</th>
            <th>Ver ID</th>
            <th>Borrar</th>
        </thead>
        <tbody>
            {{#each results}}
            <tr>
                <td>{{titulo}}</td>
                <td>{{autor}}</td>
                <td>{{descripcion}}</td>
                <td>{{nivel}}</td>
                <td><a href="/tareas/{{_id}}" target="_blank" class="verBorrar">Ver ID</a></td>
                <td><a href="/eliminar/{{_id}}" class="verBorrar">Borrar</a></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>