<nav class="navbar navbar-expand-lg bg-light mb-5">
    <div class="container">
    <a class="navbar-brand" href="#">Navbar</a>
    <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
    >
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="tareas">Tareas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
        </li>
        </ul>
    </div>
    </div>
</nav>

<div class="container">
    <div class="text-center m-5">
        <h2>
            Tareas
        </h2>
    </div>
    <table class="table table-dark table-hover">
        <thead>
            <th>titulo</th>
            <th>autor</th>
            <th>descripcion</th>
            <th>Importancia</th>
            <th>Borrar</th>
        </thead>
        <tbody>
            {{#each results}}
            <tr>
                <td>{{this.titulo}}</td>
                <td>{{this.autor}}</td>
                <td>{{this.descripcion}}</td>
                <td>{{this.nivel}}</td>
                <td><a href="/tareas/{{ this._id }}">Borrar</a></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>